.forgetpage{
    background-color: #22335d;
    width: 25%;
    height: 300px;
    margin-left: 35%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;

    .title{
        color: #dedd9f;
        text-align: center;
    }

    input{
        width: 70%;
        height: 30px;
        margin-left: 15%;
        margin-bottom: 50px;
        background-color: #22335d;
        color: white;
        border: #dedd9f solid 5px;
        border-radius: 5px;

    }

    button{
        width: 30%;
        height: 35px;
        margin-left: 35%;
        background-color: #dedd9f;
        color: #22335d;
        font-size: 10px;
        border: #22335d;
        border-radius: 2px;
    }
}